__pycache__/
*.py[cod]

venv/
.env

Lib/
.vscode/
.idea/

*.db

*.log

migrations/

.mypy_cache/
.dmypy.json
.pytype/

.coverage
coverage.xml
*.cover
*.py,cover

.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

.bandit/

.typings/

*.sqlite3

.env

.DS_Store
Thumbs.db

Pipfile.lock

poetry.lock
